$backgroundColor: #ffffff;
$bodyColor: #220022;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$codeFont: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
$aAltColor: #b1a3ad;
$lightColor: #57606a;
$aColor: #451d39;
$halbornColor: #8ce605;
$csColor: #961a3d;
$maxWidth: 720px;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0 auto;
  max-width: $maxWidth;
  font-size: 0.9rem;
}

#main__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

// breakpoint for width 768px
@media (max-width: 500px) {
  #main__header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;
  }
}

#main__header h1 {
  font-size: 1.5em;
  margin: 0;
}

#left__main__header {
  display: flex;
  align-items: center;
}

#main__header__names__wrapper {
  padding: 1em 1em 1em 0;
}

#main__header__names__wrapper h1 {
  margin: 0;
}

#main__header__names__wrapper p {
  margin: 0;
}

#main__header__name__secondary {
  font-size: 0.8em;
  color: $lightColor;
}

#main__header__avatar {
  width: 2.5em;
  height: 2.5em;
  border: 1px solid $lightColor;
  border-radius: 50%;
  margin: 0 1em;
}

#right__main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: $backgroundColor;
}

#right__main__header ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

#right__main__header ul li {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

a {
  // text-decoration: none;
  color: $aColor;
}

a:hover {
  color: $aAltColor;
}

article {
  padding: 0 1rem;
}

article:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.resume__item {
  margin-bottom: 2em;
}

.resume__item h3 {
  margin: 0.2rem 0;
}

.resume__item h4 {
  margin: 0.2rem 0 0.5rem 0;
  font-style: italic;
  font-weight: normal;
}

ul {
  list-style-type: '- ';
}

ul li {
  margin: 0.2rem 0;
}



// section {
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

// .code__font {
//   font-family: $codeFont;
// }

// article {
//   padding: 24px;
//   width: auto;
// }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  background: $backgroundColor;
  border-top: 1px solid #e6e6e6;
}